<div id="page-top" class="page-top">&nbsp;</div> <!-- used for anchorscroll -->

<section id="home" class="section-product" ng-init="sales.initView()">
    <div class="container">
        
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                
                
                <h1>
                    <a href="" ng-click="sales.goTo('admin.home')">Меню</a> | Заказы
                </h1>
                <p>&nbsp;</p>
                <p id="warning" ng-show="sales.statusObj.generalmessage">
                    {{sales.statusObj.generalmessage}}
                </p>
      
            </div>
        </div>
        
        <hr class="star-light">
        
        <!-- spinner - can be rewritten to ng-switch to avoid flickering -->
        <div class="row" ng-show="sales.statusObj.loading">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <p><img ng-src="css/loading.svg" id="loading-img-large"></p>
            </div>
        </div>  <!-- ./ spinner -->
        
        <!-- FormData -->
        <div ng-show="!sales.statusObj.loading">
            
            <div class="row">
                <div class="col-sm-6">
                    <h3>Получено заказов: {{sales.totalSales.nb}}</h3>
                </div>
                <div class="col-sm-6">
                    <h3>На сумму: {{sales.totalSales.value}} сом</h3>
                </div>
            </div>
            
            <!-- HEADER -->
            <div class="row row-item" ng-repeat="OrderObj in sales.OrdersDataArray | orderBy: '-value.timestamp'">
                
                <div class="col-sm-4 text-left center-small-screen">
                     {{OrderObj.key}}
                </div>
                <div class="col-sm-4 text-left center-small-screen">
                    {{sales.formatTimestamp(OrderObj.value.timestamp)}}
                </div>
                <div class="col-sm-2 text-right center-small-screen">
                    {{OrderObj.value.totalPrice}} сом
                </div>
                <div class="col-sm-2 text-right center-small-screen">
                    <button class="btn-positive-outline" ng-click="sales.goToOrder(0, OrderObj.key)">
                        Детали
                    </button>
                </div>
                

            </div>
            <!-- ./ HEADER -->
            
           
          
            
        </div> <!-- ./ FormData -->
        

    </div>
</section>
